In [144]:
import pandas as pd
import numpy as np
import seaborn as sns

from sklearn.model_selection import train_test_split

from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler, OneHotEncoder, OrdinalEncoder

In [161]:
df = pd.read_csv('cleaned_water.csv',index_col=0)
df = df.drop(columns=['latitude','longitude','id'])
df.head().T

,0,2,3,5,6
status_group,functional,functional,non functional,functional,non functional
amount_tsh,6000,25,0,20,0
funder,Roman,Lottery Club,Unicef,Mkinga Distric Coun,Dwsp
gps_height,1390,686,263,0,0
installer,Roman,World vision,UNICEF,DWE,DWSP
basin,Lake Nyasa,Pangani,Ruvuma / Southern Coast,Pangani,Internal
region,Iringa,Manyara,Mtwara,Tanga,Shinyanga
lga,Ludewa,Simanjiro,Nanyumbu,Mkinga,Shinyanga Rural
ward,Mundindi,Ngorika,Nanyumbu,Moa,Samuye
population,109,250,58,1,0
public_meeting,True,True,True,True,True
scheme_management,VWC,VWC,VWC,VWC,VWC
permit,False,True,True,True,True
extraction_type_class,gravity,gravity,submersible,submersible,handpump
management,vwc,vwc,vwc,vwc,vwc
payment_type,annually,per bucket,never pay,per bucket,never pay
water_quality,soft,soft,soft,salty,soft
quantity,enough,enough,dry,enough,enough
source,spring,dam,machine dbh,other,machine dbh
source_class,groundwater,surface,groundwater,unknown,groundwater
waterpoint_type,communal standpipe,communal standpipe multiple,communal standpipe multiple,communal standpipe multiple,hand pump
age,21,11,34,11,23

In [162]:
#if we want to have a binary classification problem:
#df1['status_group'] = df1['status_group'].replace(to_replace =["functional needs repair", "non functional"],
                            #value ="needs repair")

In [163]:
#df_without_y =

In [164]:
# df_num = df[['amount_tsh', 'population', 'gps_height']]
# df_cat = df[['funder', 'scheme_management', 'extraction_type_group', 'management', 'water_quality', 'quantity', 'installer', 'basin']]

In [165]:
# df_dummies = pd.get_dummies(df_cat, drop_first=True)

# df_final = pd.concat([df_num, df_dummies], axis=1)
# df_final.shape

In [166]:
# df_final

In [167]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48651 entries, 0 to 59399
Data columns (total 22 columns):
status_group             48651 non-null object
amount_tsh               48651 non-null float64
funder                   48651 non-null object
gps_height               48651 non-null int64
installer                48651 non-null object
basin                    48651 non-null object
region                   48651 non-null object
lga                      48651 non-null object
ward                     48651 non-null object
population               48651 non-null int64
public_meeting           48651 non-null bool
scheme_management        48651 non-null object
permit                   48651 non-null bool
extraction_type_class    48651 non-null object
management               48651 non-null object
payment_type             48651 non-null object
water_quality            48651 non-null object
quantity                 48651 non-null object
source                   48651 non-null object
source_class             48651 non-null object
waterpoint_type          48651 non-null object
age                      48651 non-null int64
dtypes: bool(2), float64(1), int64(3), object(16)
memory usage: 7.9+ MB

In [174]:
# create y and X as the target and the features
y = df['status_group']
X = df.drop(columns='status_group')

In [175]:
cols = X.select_dtypes(include=['object','bool']).columns.tolist()
numcols = X.select_dtypes(include=['int64','float64']).columns.tolist()
numcols

['amount_tsh', 'gps_height', 'population', 'age']

In [176]:
col_arr = pd.Series(cols).array

In [177]:
for col in cols:
    X[col] = X[col].astype('category')

In [178]:
for col in numcols:
    X[col] = X[col].astype('float64')

In [179]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48651 entries, 0 to 59399
Data columns (total 21 columns):
amount_tsh               48651 non-null float64
funder                   48651 non-null category
gps_height               48651 non-null float64
installer                48651 non-null category
basin                    48651 non-null category
region                   48651 non-null category
lga                      48651 non-null category
ward                     48651 non-null category
population               48651 non-null float64
public_meeting           48651 non-null category
scheme_management        48651 non-null category
permit                   48651 non-null category
extraction_type_class    48651 non-null category
management               48651 non-null category
payment_type             48651 non-null category
water_quality            48651 non-null category
quantity                 48651 non-null category
source                   48651 non-null category
source_class             48651 non-null category
waterpoint_type          48651 non-null category
age                      48651 non-null float64
dtypes: category(17), float64(4)
memory usage: 3.1 MB

In [180]:
X_train, X_test, y_train, y_test = train_test_split(X,
                                                    y,
                                                    random_state = 77, 
                                                    stratify = y, # in classification problems 
                                                                  # when you split the data 
                                                                  # you want to keep the ratio in the classes.
                                                    test_size = .2 # This is usually the ratio but it might change 
                                                                   # according to the problem at hand.
                                                   )

In [153]:
# ss = StandardScaler()
# X_train_scaled = ss.fit_transform(X_train)
# X_test = ss.transform(X_test)

In [181]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38920 entries, 55126 to 6041
Data columns (total 21 columns):
amount_tsh               38920 non-null float64
funder                   38920 non-null category
gps_height               38920 non-null float64
installer                38920 non-null category
basin                    38920 non-null category
region                   38920 non-null category
lga                      38920 non-null category
ward                     38920 non-null category
population               38920 non-null float64
public_meeting           38920 non-null category
scheme_management        38920 non-null category
permit                   38920 non-null category
extraction_type_class    38920 non-null category
management               38920 non-null category
payment_type             38920 non-null category
water_quality            38920 non-null category
quantity                 38920 non-null category
source                   38920 non-null category
source_class             38920 non-null category
waterpoint_type          38920 non-null category
age                      38920 non-null float64
dtypes: category(17), float64(4)
memory usage: 2.5 MB

In [182]:
X_train[cols].describe()

,funder,installer,basin,region,lga,ward,public_meeting,scheme_management,permit,extraction_type_class,management,payment_type,water_quality,quantity,source,source_class,waterpoint_type
count,38920,38920,38920,38920,38920,38920,38920,38920,38920,38920,38920,38920,38920,38920,38920,38920,38920
unique,1431,1621,9,21,118,1860,2,11,2,7,12,7,8,5,10,3,7
top,Government Of Tanzania,DWE,Pangani,Iringa,Njombe,Igosi,True,VWC,True,gravity,vwc,never pay,soft,enough,spring,groundwater,communal standpipe
freq,6469,11772,6852,4169,1947,239,35473,26179,26592,18526,27125,16591,34232,22734,11996,29721,19141

In [183]:
X_train[numcols].describe()

          amount_tsh    gps_height    population           age
count   38920.000000  38920.000000  38920.000000  38920.000000
mean      352.727292    694.176901    174.457785     23.182785
std      2704.137330    698.891986    474.102475     10.289588
min         0.000000    -90.000000      0.000000      7.000000
25%         0.000000      0.000000      0.000000     15.000000
50%         0.000000    442.000000     30.000000     23.000000
75%        50.000000   1331.000000    200.000000     25.000000
max    250000.000000   2770.000000  30500.000000     60.000000

In [156]:
# import statsmodels.api as sm
# #Linear regression using statsmodels
# X_train_const = sm.add_constant(X_train_scaled)
# model =sm.OLS(y_train, X_train_const, hascont=True)
# fitted_model = model.fit()
# #fitted_model.summary()

In [157]:
X_train

,amount_tsh,funder,gps_height,installer,basin,region,lga,ward,population,public_meeting,...,permit,extraction_type_class,management,payment_type,water_quality,quantity,source,source_class,waterpoint_type,age
55126,200.0,Community,261,Communit,Rufiji,Morogoro,Kilombero,Mang'ula,250,True,...,True,gravity,vwc,monthly,soft,insufficient,river,surface,communal standpipe,25
45667,2000.0,Danida,940,DANID,Rufiji,Iringa,Iringa Rural,Idodi,1,True,...,True,gravity,vwc,annually,soft,enough,spring,groundwater,communal standpipe,28
16512,20.0,Sabodo,75,Sabodo,Ruvuma / Southern Coast,Lindi,Lindi Rural,Nyengedi,1,False,...,False,handpump,vwc,per bucket,salty,enough,machine dbh,groundwater,hand pump,8
52526,1000.0,Dhv,342,DWE,Rufiji,Morogoro,Ulanga,Mtimbira,360,True,...,True,gravity,wug,monthly,soft,enough,river,surface,communal standpipe,25
8183,6.0,Ces(gmbh),1273,DWE,Pangani,Kilimanjaro,Moshi Rural,Kirua Vunjo Kusini,20,True,...,True,gravity,water board,per bucket,soft,enough,spring,groundwater,communal standpipe,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42077,50.0,Private Individual,158,WU,Wami / Ruvu,Pwani,Bagamoyo,Chalinze,50,False,...,True,submersible,private operator,per bucket,soft,enough,river,surface,communal standpipe,10
52751,0.0,Danida,929,DANIDA,Ruvuma / Southern Coast,Ruvuma,Namtumbo,Namabengo,550,True,...,False,handpump,wug,on failure,soft,insufficient,shallow well,groundwater,hand pump,25
27505,0.0,Hifab,0,Hesawa,Lake Victoria,Mwanza,Kwimba,Mwakilyambiti,0,True,...,True,handpump,vwc,other,soft,enough,shallow well,groundwater,hand pump,23
38158,1000.0,Danida,1743,DANID,Lake Nyasa,Iringa,Ludewa,Mlangali,35,True,...,False,gravity,vwc,annually,soft,seasonal,spring,groundwater,communal standpipe,32
6041,500.0,World Bank,459,Wo,Wami / Ruvu,Morogoro,Kilosa,Mabwerebwere,100,True,...,True,submersible,vwc,on failure,soft,insufficient,machine dbh,groundwater,communal standpipe,17

In [186]:
## create an encoder object. This will help us to convert
## categorical variables to new columns
ss = StandardScaler()
encoder = OneHotEncoder(handle_unknown= 'error',
                        drop='array',
                        categories= cols)

## Create an columntransformer object.
## This will help us to merge transformed columns
## with the rest of the dataset.

ct = ColumnTransformer(transformers =[('ohe', encoder)],
                                    remainder= ss)
ct.fit_transform(X_train)
X = ct.transform(X_test)

TypeError: iteration over a 0-d array

In [102]:
ct

ColumnTransformer(n_jobs=None,
                  remainder=StandardScaler(copy=True, with_mean=True,
                                           with_std=True),
                  sparse_threshold=0.3, transformer_weights=None,
                  transformers=[('ohe',
                                 OneHotEncoder(categorical_features=None,
                                               categories='auto', drop=None,
                                               dtype=<class 'numpy.float64'>,
                                               handle_unknown='error',
                                               n_values=None, sparse=True))],
                  verbose=False)

In [19]:
# loop_with_for(df)

In [72]:
X_train.head()

,amount_tsh,population,gps_height,funder_A/co Germany,funder_Aar,funder_Abas Ka,funder_Abasia,funder_Abc-ihushi Development Cent,funder_Abd,funder_Abdul,...,installer_world,installer_world banks,basin_Lake Nyasa,basin_Lake Rukwa,basin_Lake Tanganyika,basin_Lake Victoria,basin_Pangani,basin_Rufiji,basin_Ruvuma / Southern Coast,basin_Wami / Ruvu
45110,200.0,250,261,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
37414,2000.0,1,940,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
13491,20.0,1,75,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
43006,1000.0,360,342,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
6707,6.0,20,1273,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [14]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38920 entries, 45110 to 4955
Data columns (total 43 columns):
Unnamed: 0               38920 non-null int64
id                       38920 non-null int64
amount_tsh               38920 non-null float64
date_recorded            38920 non-null object
funder                   38920 non-null object
gps_height               38920 non-null int64
installer                38920 non-null object
longitude                38920 non-null float64
latitude                 38920 non-null float64
wpt_name                 38920 non-null object
num_private              38920 non-null int64
basin                    38920 non-null object
subvillage               38621 non-null object
region                   38920 non-null object
region_code              38920 non-null int64
district_code            38920 non-null int64
lga                      38920 non-null object
ward                     38920 non-null object
population               38920 non-null int64
public_meeting           38920 non-null bool
recorded_by              38920 non-null object
scheme_management        38920 non-null object
scheme_name              22502 non-null object
permit                   38920 non-null bool
construction_year        38920 non-null int64
extraction_type          38920 non-null object
extraction_type_group    38920 non-null object
extraction_type_class    38920 non-null object
management               38920 non-null object
management_group         38920 non-null object
payment                  38920 non-null object
payment_type             38920 non-null object
water_quality            38920 non-null object
quality_group            38920 non-null object
quantity                 38920 non-null object
quantity_group           38920 non-null object
source                   38920 non-null object
source_type              38920 non-null object
source_class             38920 non-null object
waterpoint_type          38920 non-null object
waterpoint_type_group    38920 non-null object
_merge                   38920 non-null object
construction_age         38920 non-null int64
dtypes: bool(2), float64(3), int64(9), object(29)
memory usage: 12.5+ MB

In [11]:
ss = StandardScaler()

numeric_features = ['amount_tsh', 'population', 'gps_height']
numeric_transformer = Pipeline(steps=[
    ('scaler', StandardScaler())])

categorical_features = ['funder', 'scheme_management', 'extraction_type_group', 'management', 'water_quality', 'quantity', 'installer', 'basin']
categorical_transformer = Pipeline(steps=[
    ("ordinal", OrdinalEncoder()),
    ('onehot', OneHotEncoder(categories='auto'))])

preprocessor = ColumnTransformer(
    transformers=[
        ('num', numeric_transformer, numeric_features),
        ('cat', categorical_transformer, categorical_features)], remainder='drop')

#let's use it now!

X_train_tran = (preprocessor.fit_transform(X_train))
X_train_tran

<38920x3113 sparse matrix of type '<class 'numpy.float64'>'
	with 428120 stored elements in Compressed Sparse Row format>

In [17]:
X_train_tran = pd.DataFrame.sparse.from_spmatrix(X_train_tran)

In [18]:
logistic, random forest, xboost, (confusion, class report, metric (top 2 or 3) hypter par tune top models. 2 adequate. which one is more simplistic if approx same value.)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38920 entries, 0 to 38919
Columns: 3113 entries, 0 to 3112
dtypes: Sparse[float64, 0.0](3113)
memory usage: 4.9 MB

In [44]:
sub = '2011-03-28'

In [45]:
df['']

0        False
1        False
2        False
3        False
4        False
         ...
48646    False
48647    False
48648    False
48649    False
48650    False
Length: 48651, dtype: bool